
*{
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #2d2013;
}

h1 , h2,h3{
    margin: 20px 0px;
}

.error-message {
    width: 250px;
    background-color: #fce4e4;
    border: 1px solid #fcc2c3;
    border-radius: 5px;
    padding: 10px 30px;
    margin:auto;
    transform: translateY(-60px);
    transition: all 0.8s ease;
  }
  
  .error-text {
    color: #cc0033;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    text-shadow: 1px 1px rgba(250,250,250,.3);
  }
.container{
    text-align: center;
    padding: 20px 0px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-container{
    padding: 5px;
    
}

.search-container h1{
    text-align: center;
    margin-bottom: 20px;
}

.search-container input{
    width: 300px;
    background-color: white;
    color: black;
    padding: 8px 0px;
    border-radius: 5px 0px 0px 5px;
    outline: none;
}

.search-container .search-btns{
    display: flex;
    border: none;
}

.search-container button{
    padding: 8px;
    border: none;
}

.search-container i{
    color: black;
}

.search-btn{
    margin-right: 10px;
    border-radius: 0px 5px 5px 0px;
}

.random-meal{
    border-radius: 5px;
}

.search-btn:hover ,
.random-meal:hover{
    cursor: pointer;
}


/* styling the image container */

.gallery{
    display: block;
    display: grid;
    margin: 30px 0px 10px 0px;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: auto auto auto auto;
}

.meal{
    position: relative;
    width: 180px;
    height: 180px;
}

img{
    border: 4px solid white;
    width: 100%;
    height: 100%;
}

.meal-title{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ;
}

.meal:hover .meal-title{
    opacity: 1;
    cursor: pointer;
}

.image-container h2{
    font-size: 1.8rem;
}

.image-container .big-image{
    width: 300px;
    height: 300px;
    border: 4px solid white;
}

/* styling the description container */

.description-container h4{
    margin: 20px 0px;
    border: 3px dotted orange;
    width: 100%;
    padding: 20px 60px;
    font-size: 1.2rem;
}

.description-container h4 p{
    padding-bottom: 10px;
}

#text-description {
    line-height: 1.7rem;
}

/* styling the ingridients  */

.ingredients-container h3{
    font-size: 1.6rem;
}

.ingredients-container ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ingredient-box{
    margin: 0px 5px 20px 0px;
    padding: 5px;
    background-color: antiquewhite;
    color: black;
    border-radius: 5px;
    font-size: 0.8rem;
    text-align: center;
    font-weight: bold;
}

/* for responsivity */
@media only screen and (max-width :780px) {
    .gallery{
        grid-template-columns: repeat(3,1fr);
    }
}

@media only screen and (max-width :575px) {
    .gallery{
        grid-template-columns: repeat(2,1fr);
    }
}
@media only screen and (max-width :385px) {
    .gallery{
        grid-template-columns: repeat(1,1fr);
    }
}